# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log

# Terraform variables / secrets
terraform/*.tfvars
!terraform/*.tfvars.example
tfplan
*.tfplan
.terraform/

# AWS credentials
.aws/
.env
.env.*