# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
terraform/tfplan
terraform/*.tfplan

# Terraform variables / secrets
terraform/*.tfvars
!terraform/*.tfvars.example
!environments/*.tfvars

# Terraform
.terraform/

# AWS credentials / environment secrets
.aws/
.env
.env.*